p{
    color: rgb(185, 40, 40);
    background: linear-gradient(to left, blue, pink);
    margin: auto;
    padding-bottom: 100px;
    padding-top: 30px;
    padding-left: 100px;
}

h1,
h2,
h3,
h4{
    color: rgba(111, 93, 155, 0.81);
    font-size: 6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(207, 185, 227);
    text-shadow: 9px 4px 6px blue;
}

.box {

    background-color: wheat;
    border: #187498;
}

.conteneur {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}
/*
.une {
    grid-column-start: 1;
    grid-column-end: 4;
}*/

.une {
    grid-column: 1 / 4;
}
/*
.deux {
    grid-row-start: 2;
    grid-row-end: 4;
}
*/

.deux {
    grid-row: 2 / 4;
}

.element {
    font-size: 25px;
    background-color: rgb(56, 114, 137);
    border-left: 5px #187498 solid;
    padding: 100px;
}
.classe{
    color : rgb(213, 126, 175);  
    font-family: "Sevillana", cursive;
    font-weight: 900;
    font-style: normal;
}
 h3 + p{
    color: rgb(108, 172, 44);
    text-decoration: underline;
}
imh:hover + h6{
    color: rgb(108, 172, 44);
    text-decoration: underline;
}
a[title="AP"]{
    opacity:  0.5;
}
img:hover{
    opacity:  0.5;
}

a:hover{
    color: deeppink;
    text-decoration: underline;
}
a:active{
    text-decoration-color: lightblue;
}
a:visited {
    color: rgb(190, 235, 8);
}

a:focus{
    background-color: #EB5353;
    color: wheat;
    outline-color: #36AE7C;
}


* {
    font-family: Arial;
}
  
fieldset {
    border: none;
    background-color: #C2B0F9;
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 20px;
}
  
legend {
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px;
}

:required {
    background-color:#F2A3BB;
}

.parra,
ul{   
    font-size : 3em;
    font-family: 'Times New Roman', Times, serif;
    border-top: 3px #EB5353 dotted;
    border-right: 3px #F9D923 double;
    border-bottom: 3px #36AE7C dashed;
    border-left: 3px #187498 solid;
    box-shadow: 9px 5px 7px red;
}

ol{
    border: 6px dotted rgb(79, 11, 80);
    border-radius: 0% 100% 70% 30% / 54% 75% 25% 46% ;
}

.imgfond{
    padding: 130px; /* marche */
    background-image:url("Images/img2.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    opacity: 0.5;
}

.container {
    display: flex;
    /*flex-wrap: wrap-reverse;
    display: flex;*/
    justify-content: space-between;/* flex-start; OU flex-end
    OU center
    OU space-between
    OU space-around; */
    
}

.parra3,
li{
    
    font-size : 1em;  
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
}

.parra1{
    color :rgb(66, 182, 108);
    font-size : 150px;
    font-family: "Jersey 25", sans-serif;
    font-style: italic;
    font-weight :bolder;
}

.baner{

    margin: auto;
}

#debut{
    color :rgba(132, 87, 87,0.3);
    font-size : 20px;
    text-decoration:double;
    text-align: justify;
}
/* 

ciokcnoQLKSdxc
cskszejdhfcoµ
CLSDJFICHS

*/

body{
    background-color: rgb(13, 59, 59);
}